

.button_blue {
  background: $bleu;
  color: $white;
  padding: $xs-size;
  border-radius: $xxs-size;
}

.button_blue:hover {
  border: solid 0.07rem $bleu;
  background: $white;
  color: $bleu;
  text-decoration: none;
}

a.button_blue:hover {
  border: solid 0.07rem $bleu;
  background: $white;
  color: $bleu;
  text-decoration: none;
}

.button_grey {
  background: $grey;
  opacity: 0.8;
  color: $white;
  padding: $xs-size;
  border-radius: $xxs-size;
}

a.button_grey:hover {
  background: $white;
  border: solid 0.07rem $grey;
  color: $grey;
  text-decoration: none;
}


///* ================================= DEVICES Max 1025PX ================================== */
@media (max-width: 1025px) {

  .button_grey {
    padding: $s-size;
  }

  .button_blue {
    padding: $s-size;
  }


}

