


.button_blue {
  background: $bleu;
  color: $white;
  padding: $xs-size;
  border-radius: $xxs-size;
}

.button_blue:hover {
  border: solid 0.07rem $bleu;
  background: $white;
  color: $bleu;
  text-decoration: none;
}

a.button_blue:hover {
  border: solid 0.07rem $bleu;
  background: $white;
  color: $bleu;
  text-decoration: none;
}

.button_grey {
  background: #7D808A;
  opacity: 0.8;
  color: $white;
  padding: $xs-size;
  border-radius: $xxs-size;
}

a.button_grey:hover {
  background: $white;
  border: solid 0.07rem #4C5E6F;
  color: #4C5E6F;
  text-decoration: none;
}






///* ================================= DEVICES Max 1000PX ================================== */
@media (max-width: 1000px) {


  .button_grey {
    padding:1rem;
  }

  .button_blue {
    padding:1rem;
  }





}


///* ================================= DEVICES MAX 550PX ================================== */
@media (max-width: 550px) {



}