
html {

    height: 100%;
    padding-top: 50px;
    font-size: 100%;
    box-sizing: border-box;
}
/* ======================= Favorite list  ======================= */
.marginBottom50{

    margin-bottom: 50px;
}
.marginTop50{

    margin-top: 50px;
}

.marginLeft15{

    margin-left: 15px;
}

.marginBottom15{

    margin-bottom: 15px;
}

/*.border6BC3D1{*/

    /*border: solid #6BC3D1 2px;*/
/*}*/

/* ======================= Favorite Deleted  ======================= */

.favoriteDelete{

}


.marginTop50{

    margin-top: 50px;
}

.marginBottom50{

    margin-bottom: 50px;
}

/* ======================= Footer ======================= */

footer {

    margin-top: 70px;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}


/**,*/
/**:before,*/
/**:after {*/
    /*box-sizing: inherit;*/
/*}*/

/*body {*/
    /*position: relative;*/
    /*margin: 0;*/
    /*padding-bottom: 6rem;*/
    /*min-height: 100%;*/

/*}*/

/*h1, h2, h3 {*/

    /*color: #343a40;*/
/*}*/

/*.color_343a40 {*/

    /*color: #343a40;*/
/*}*/

/*.font_size_60 {*/

    /*font-size: 60%;*/
/*}*/

/*.italic {*/

    /*font-style: italic;*/
/*}*/

/*.width_100 {*/

    /*width: 100%;*/
/*}*/

/*.height_70 {*/

    /*height: 70%;*/
/*}*/

/*.min_height {*/

    /*min-height: 500px;*/
/*}*/

/*.relative {*/

    /*position: relative;*/
/*}*/

/*.absolute {*/

    /*position: absolute;*/
/*}*/

/*!* listPostsViews *!*/
/*.ligne_top {*/

    /*margin-top: 50px;*/
    /*border-top: 1px solid lightgrey;*/
/*}*/

/*.ligne_bottom {*/

    /*border-bottom: 1px solid lightgrey;*/
    /*margin-bottom: 50px;*/

/*}*/

/*.title_Accueil {*/
    /*!*background: url("images/im_1_alaska.jpg") no-repeat center center;*!*/
    /*background-size: cover;*/
    /*height: 400px;*/
    /*padding-top: 120px;*/
/*}*/

/*.title_writer {*/

    /*!*background: url("images/writer.png") no-repeat center center;*!*/
    /*background-size: cover;*/
    /*!*height: 400px;*!*/
    /*!*padding-top: 130px;*!*/
    /*padding-right: 50px;*/
/*}*/

/*.button_book {*/

    /*border-color: #6BC3D1 !important;*/
    /*margin-top: 15px;*/
    /*!*background: linear-gradient(to bottom right, #343a40, #6B6F74, #B5B7B9)!important;*!*/
    /*background: linear-gradient(to bottom right, #41B2C4, #56BBCB, #6BC3D1) !important;*/
    /*margin-right: 25px;*/

/*}*/

/*.button_chapter {*/

    /*border-color: #6BC3D1 !important;*/
    /*margin-top: 15px;*/
    /*margin-left: 25px;*/
    /*!*background: linear-gradient(to bottom right, #343a40, #6B6F74, #B5B7B9)!important;*!*/
    /*background: linear-gradient(to bottom right, #41B2C4, #56BBCB, #6BC3D1) !important;*/
/*}*/

/*.button_list {*/

    /*border-color: #6BC3D1 !important;*/
    /*margin-top: 15px;*/
    /*background: linear-gradient(to bottom right, #41B2C4, #56BBCB, #6BC3D1) !important;*/

/*}*/

/*.button-pagination {*/

    /*margin-top: 50px;*/
    /*border-color: #343a40 !important;*/
    /*background: linear-gradient(to bottom right, #343a40, #343a40, #343a40) !important;*/
/*}*/

/*.button-form {*/

    /*margin-top: 50px;*/
    /*background: linear-gradient(to bottom right, #41B2C4, #56BBCB, #6BC3D1) !important;*/
    /*border-color: #6BC3D1 !important;*/
/*}*/

/*.button-modify {*/

    /*background-color: #007bff !important;*/
    /*border-color: #007bff !important;*/

/*}*/

/*.button_logout {*/

    /*border-color: #6BC3D1 !important;*/
    /*margin-top: 15px;*/
    /*!*background: linear-gradient(to bottom right, #343a40, #6B6F74, #B5B7B9)!important;*!*/
    /*background: linear-gradient(to bottom right, #41B2C4, #56BBCB, #6BC3D1) !important;*/
    /*!*margin-right: 25px;*!*/
/*}*/

/*.logout {*/

    /*height: 500px;*/
/*}*/

/*img {*/

    /*width: 100%;*/
/*}*/

/*.resize {*/

    /*width: 250px;*/
    /*height: 400px;*/
/*}*/

/*.margin-top50 {*/

    /*margin-top: 50px;*/
/*}*/

/*.margin-bottom50 {*/

    /*margin-bottom: 50px;*/
/*}*/

/*.margin-bottom65 {*/

    /*margin-bottom: 65px;*/
/*}*/

/*.margin-bottom {*/

    /*margin-bottom: 50px;*/
/*}*/

/*.margin-bottom25 {*/

    /*margin-bottom: 25px;*/
/*}*/

/*.margin-bottom15 {*/

    /*margin-bottom: 15px;*/
/*}*/

/*.margin-top25 {*/

    /*margin-top: 25px;*/
/*}*/

/*.margin-top15 {*/

    /*margin-top: 15px;*/
/*}*/

/*.margin-left15 {*/

    /*margin-left: 15px;*/
/*}*/

/*.margin-left3 {*/

    /*margin-left: 3px;*/
/*}*/

/*.margin-right15 {*/

    /*margin-right: 15px;*/
/*}*/

/*.color_white {*/

    /*color: white !important;*/
/*}*/

/*.font_size_3 {*/
    /*font-size: 3rem;*/
/*}*/

/*.font_size_1_5 {*/
    /*font-size: 1.5rem;*/
/*}*/

/*.container > p {*/

    /*color: #585858;*/
/*}*/

/*!* post frontend *!*/
/*.border-comment {*/

    /*!*border: solid rgba(107,195,209,0.50) 2px;*!*/
    /*background-color: rgba(107, 195, 209, 0.30);*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    /*padding-left: 10px;*/
    /*margin-bottom: 15px;*/
    /*width: 50%;*/
    /*border-radius: 3px;*/

/*}*/

/*!* notif frontend*!*/
/*.border_notif {*/

    /*border: solid 2px #6BC3D1;*/
    /*width: 50%;*/
    /*padding-top: 45px;*/
    /*padding-bottom: 45px;*/
/*}*/

/*!* connection *!*/
/*.connect {*/

    /*margin-top: 150px;*/
    /*margin-bottom: 50px;*/
    /*height: 500px;*/
/*}*/

/*.form-connect {*/

    /*margin-top: 50px;*/

/*}*/

/*!*contact*!*/
/*.form-contact {*/

    /*margin-top: 50px;*/

/*}*/

/*!* ============= Backend ================== *!*/
/*.nav-filter {*/

    /*background-color: #6BC3D1 !important;*/
/*}*/

/*.color-138597 {*/

    /*color: #138597 !important;*/
/*}*/

/*.bg-138597 {*/

    /*background-color: #138597 !important;*/
    /*border-color: #138597 !important;;*/
/*}*/

/*.border-6BC3D1 {*/

    /*border-bottom: solid #6BC3D1 2px;*/
/*}*/

/*.bg-6BC3D1 {*/

    /*background-color: #6BC3D1 !important;*/
    /*border-color: #6BC3D1 !important;*/

/*}*/

/*.circle-comment {*/

    /*border-color: #FFC45C !important;*/
    /*padding: 3px 6px 3px 6px;*/
/*}*/

/*.circle-notif {*/

    /*border-color: #73B973 !important;*/
    /*padding: 3px 6px 3px 6px;*/
/*}*/

/*.button-notif {*/

    /*bottom: 0;*/
/*}*/

/*.min-height {*/
    /*min-height: calc(100vh - 55px);*/

/*}*/

/*.trash_D {*/

    /*display: none !important;*/

/*}*/

/*!* ========== footer ========== *!*/
/*footer {*/
    /*margin-top: 70px;*/

/*}*/

/*#footer {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
/*}*/

/*!* ============================== Responsif max 992 px ============================= *!*/
/*@media (max-width: 992px) {*/

    /*!* ========================== header ============================== *!*/
    /*.menu_burger {*/

        /*justify-content: start !important;*/
        /*font-size: 1.2em;*/
    /*}*/

    /*.border_nav {*/

        /*border-bottom: solid 2px white;*/
        /*!*border-top: solid 2px white;*!*/
    /*}*/

    /*.border_nav:hover {*/

        /*border-bottom: solid 2px #6BC3D1 !important;*/
    /*}*/

    /*.color_link:hover {*/

        /*color: #6BC3D1 !important;*/
    /*}*/

    /*.block {*/

        /*display: block !important;*/
    /*}*/

    /*.margin_side_autoR {*/

        /*margin-left: auto;*/
        /*margin-right: auto;*/
    /*}*/

    /*.margin_bottom25R {*/

        /*margin-bottom: 25px;*/
    /*}*/

    /*.none {*/

        /*display: none;*/
    /*}*/

    /*.resize {*/

        /*width: auto;*/
        /*height: auto;*/
    /*}*/

    /*!* ========================== listPost ============================== *!*/
    /*!* ======= Pagination ======= *!*/
    /*.button-pagination {*/

        /*margin-bottom: 15px;*/
    /*}*/

    /*!* ============= post page ================== *!*/
    /*.border-comment {*/

        /*width: 100%;*/
    /*}*/

    /*!* contact notif comment *!*/
    /*.border_notif {*/

        /*width: 90%;*/
    /*}*/

    /*!* ========================== footer ============================== *!*/
    /*.nav_footer {*/

        /*padding-top: 50px;*/
    /*}*/

    /*.flex_rowR {*/

        /*flex-direction: row;*/
    /*}*/

    /*.margin_rightR {*/

        /*margin-right: 15px;*/
    /*}*/

    /*!* ============= Backend ================== *!*/
    /*.trash_D {*/

        /*display: none;*/

    /*}*/

    /*!* ============================== Responsif max 576 px ============================= *!*/
    /*@media (max-width: 576px) {*/

        /*!* ============ home page ============== *!*/
        /*.font_size_resp {*/

            /*font-size: 2.5rem;*/
        /*}*/

        /*.button_book {*/

            /*margin-top: 30px;*/
            /*margin-bottom: 15px;*/

        /*}*/

        /*.button_chapter {*/

            /*margin-top: 10px;*/
            /*margin-left: 0;*/
            /*margin-bottom: 15px;*/

        /*}*/

        /*.noneR576 {*/

            /*display: none;*/
        /*}*/

        /*!* ============ writer page ============== *!*/
        /*.font_size_r {*/

            /*font-size: 2rem;*/
        /*}*/

        /*.title_writer {*/

            /*height: 200px;*/
            /*padding-top: 100px;*/
        /*}*/

        /*!* ============= Backend ================== *!*/
        /*.trash_R {*/

            /*display: none;*/

        /*}*/

        /*.trash_D {*/

            /*display: flex !important;*/
        /*}*/

        /*.margin-rightR2 {*/

            /*margin-right: 2px;*/
        /*}*/

        /*!* ============ footer ============== *!*/
        /*.nav_footer {*/

            /*padding-top: 20px;*/
        /*}*/

    /*}*/

/*}*/