html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif !important;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    color:#3a4570 !important;
}


/* ========================= headerNav ========================= */

.header__nav {
    background: #161A29;
    font-size: 1.1rem;
    height: 110px;
}

.menu {
    justify-content: flex-end;
}

.bar{
    padding: 1.7rem 0.2rem 1rem 0.2rem;

}

.bar:hover{
    border-top: 1px solid #0096db;
    border-bottom: 1px solid #0096db;
    padding:  1.7rem 0.2rem 1rem 0.2rem;
    color: #0096db;
}


/* ========================= error/logout ========================= */
.body_background {
    background: aliceblue;
}

.message_content{
    background: white;
    width:50%;
    margin:auto;
    border: 1px solid #c4c8d8;
    box-shadow: 0 2px 5px 0 #e3e5ec;
    padding: 1rem;
    border-radius: 0.1rem;
}

.back {
    margin-top: 1rem;
    margin-left: 0.3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.logout{

    margin-top: 3rem;
}

/* ========================= About ========================= */

.about__title {
    margin-top: 2rem;
}

.about__subtitle {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* ========================= Contact/Register/logout/redirect ========================= */

.title {
    font-size: 3rem;
    font-weight:500 ;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

}

.subtitle {
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.send {
    margin-top: 3rem;
}

.buttonForm {
    background: #0096db !important;
    border: solid 0.07rem #0096db !important;

}

.buttonForm:hover {
    background: white !important;
    color: #0096db !important;
    border: solid 0.07rem #0096db !important;
}


/* ========== footer ========== */

#footer {
    background: #161A29;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* ========== RESPONSIF ========== */

/* ================================= DEVICES MAX 1000PX ================================== */
@media (max-width: 1000px) {

    .menu {
        justify-content: flex-start !important;
    }

    .menu_burger {
        font-size: 1.2em;
    }

    .footer_r {
        flex-direction: row !important;
    }

    .marginLeft_r {
        margin-left: 1rem;
    }

    .header__nav {
        background: #161A29;
        font-size: 1.1rem;
        height: auto;
        width:102%;
    }

    .bar{
        border-bottom: 1px solid #0096db;
    }

    .bar:hover{
        border-top: unset;
        border-bottom: 1px solid white;
        padding: 1.7rem 0.2rem 1rem 0.2rem;
    }

    .nav_linkR{
        margin-left: 1rem;
    }


    .message_content{

        width:100%;
    }


}

/* ================================= DEVICES MAX 370PX ================================== */
@media (max-width: 370px) {

.header__nav{
    width:105%;
}



}

