html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;



}

/* ========================= headerNav ========================= */

.header__nav{
    /*background: #3a4570;*/
    background: #161A29;
    font-size: 1.1rem;

}

/* ========================= homeSearch ========================= */

.hit-added {
    color: #3F584D;
    margin-top: 2rem;
    text-align:center;
}



/* ========================= About ========================= */

.about__title {
    margin-top: 2rem;

}

.about__subtitle {
    margin-top: 2rem;
    margin-bottom: 1.5rem;

}



/* ========================= Contact/Register/logout/redirect ========================= */

.title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

}

.subtitle {
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.send {
    margin-top: 3rem;
}

.buttonForm {
    background: #0096db !important;
    border: solid 0.07rem #0096db;

}

.buttonForm:hover {

    background: white !important;
    color: #0096db !important;
    border: solid 0.07rem #0096db !important;
}



/* ========== footer ========== */

#footer {
    /*background: #08192A;*/
    /*background: #3a4570;*/
    background: #161A29;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}




