.mySpace {
  text-align: center;

}

.mySpace_title {
  background: $white;
  margin-top: $xl-size;
  margin-bottom: 4rem;
}

.mySpace_list {
  padding-top: $xl-size;
  padding-bottom: $m-size;
  width: 50%;
  margin: auto;
  border-radius: 0.1rem;
}

.mySpace_favorite {
  background: $white;
  margin-bottom: $s-size;
  border: 1px solid $greyBorder;
  box-shadow: 0 2px 5px 0 $box-shadow;
}

.mySpace_noFavorite {
  padding-bottom: 3rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.mySpace__moreInfo {
  margin-top: $s-size;
  margin-bottom: $m-size;
}

.mySpace--moreInfoLink:hover {
  background: $white;
  border: solid 0.07rem $grey;
  color: $grey;
}

.mySpace__delete {

 margin-top: $l-size;
}

.mySpace--link {
  color: white;
}

a.mySpace--link:hover {
  color: $grey;
  text-decoration: none;
}

.mySpace__buttons {
  margin-right: $s-size;
}



///* ================================= DEVICES Max 1000PX ================================== */
@media (max-width: 1000px) {

  .mySpace_list {
    width: 90%;
  }

  .mySpace_favorite {
    flex-direction: column;
  }
  
}

///* ================================= DEVICES MAX 550PX ================================== */
@media (max-width: 550px) {

}
