
.imageFav {
  margin-left: $s-size;
}

///* ================================= DEVICES Max 1000PX ================================== */
@media (max-width: 1000px) {

  .imageFav {
    margin-left:0;
    margin-top: $xs-size;
  }

}