
.main{

  display: flex;

  margin-right: 1rem;
  margin-left: 1rem;

}

.sidebar{

  border: solid black 1px;
  margin: 3.1rem 1rem auto 1rem;
  padding: 0 0 2rem 1.1rem;
  background: white;


}

.tags{

  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.page_number{

  margin-top: 1.5rem;
  justify-content: center;
}

.content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

//.homeSearch_page{
//
//  background: red;
//
//}
//navbar
.nav{
  background: #08192A;
}

// color item hit
.ais-Hits-item{
  background: white;
}

// stats
.ais-Stats-text{
  color: white;
}

/* ======================= Footer ======================= */

footer {

  margin-top: 70px;
}

#footer {
  background: #08192A;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
