.content{

  display: flex;
  justify-content: space-between;
}

.content__pagination{

  margin-top: $m-size;
  justify-content: center;
}

.header{

  margin-top: 50px;
  margin-bottom: 100px;
}

.ais-Stats-text {
  color: #08192A;
}

.ais-SortBy-select {
  color: #3a4570 !important;
  margin-bottom: 1rem;

}