
.hitPerso{

}

.hit__namePerso{

  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.ais-Hits-item{
  background: $white;
}
.ais-Stats-text{
  //color: #08192A;
}

.ais-SortBy-select{
  color:#3a4570 !important;
}

.hit_center {

  text-align : center;
}
.hit-added {

  background: #ADF1D2;
  color: #3F584D;
}

.hit__add {

  background: $bleu;
  color: $white;
  padding: $xs-size;
  border-radius: $xxs-size;
}

a.hit__add:hover{

  border: solid 0.07rem $bleu;
  background: $white;
  color: $bleu;
  text-decoration: none;


}


.hit__moreInfo {

  background: #7D808A;
  opacity:0.8;
  color: $white;
  padding: $xs-size;
  border-radius: $xxs-size;

}

a.hit--moreInfoLink:hover {

    background: $white;
    border: solid 0.07rem #4C5E6F;
    color: #4C5E6F;
    text-decoration: none;
}


.hit_buttonGrey{

  margin-top: $m-size;
}

.hit_buttonBlue{

  margin-top: $l-size;
}