/* ================================= DEVICES OVER 1000PX ================================== */


.hit-descriptionPerso {
  margin-top: 1rem;
}

.hit__namePerso {
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-weight: bolder;
}

.ais-Hits-item {
  background: $white;
}

.ais-SortBy-select {
  color: #3a4570 !important;
}

.hit__buttonsBlock {
  margin-top: 1rem;
}

.hit_buttonBlue {
  margin-top: $l-size;
}

.hit-remove {
  //background: #FF4545;
  background: #ff8888;
  color: $white;
  padding: $xs-size;
  border-radius: $xxs-size;
}

.hit-remove:hover {
  border: solid 0.07rem #ff8888;
  background: $white;
  color: #ff8888;
  text-decoration: none;
}

///* ================================= DEVICES Max 1000PX ================================== */
@media (max-width: 1000px) {

  .hit_details {
    display: flex;
    justify-content: space-between;
  }

  .ais-Hits-list {
    display: block !important;
  }

  .ais-Hits-item {
    width: 98% !important;
  }

  .hit__buttonsBlock {
    margin-top: 1rem;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;

  }

  .hit_buttonGrey {
    margin-left: 0.5rem;
    margin-top: 2rem;
  }

  .hit__moreInfo {
    padding: 1rem;
  }

  .hit-remove {
    padding: 1rem;
  }

}

///* ================================= DEVICES MAX 550PX ================================== */
@media (max-width: 550px) {



  .hit-descriptionPerso {
    display: none;
  }



  .ais-Hits-item {
    width: 95% !important;
  }

  .hit__buttonsBlock {
    margin-top: 1rem;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .hit_buttonGrey {
    margin-top: 1.2rem;
    margin-left: 0;

  }
}

