
.ais-SearchBox-input{

  padding: 2rem !important;
  font-size: 2rem !important;
  margin-left: 0.2rem !important;
  color: $darkBlue !important;

}
//.ais-SearchBox-form{
//  color: $darkBlue !important;
//}

.ais-SearchBox-submitIcon{

  height: 2rem !important;
  width: 2rem !important;
  -webkit-transform: translateX(-30%) translateY(-50%) !important;
  transform: translateX(-30%) translateY(-50%) !important;
}