
/* ================================= DEVICES OVER 1000PX ================================== */


.sidebar {
  border-radius: 0.1rem;
  margin: 2.8rem $s-size auto $s-size;
  padding: 0 0 $l-size $s-size;
  background: $white;
  border: 1px solid #c4c8d8;
  box-shadow: 0 2px 5px 0 #e3e5ec;
}

.sidebar__tags {
  margin-top: $m-size;
  margin-bottom: $s-size;
}

.ais-RefinementList-labelText {
  margin-left: $xs-size;
}

.ais-RefinementList-count {
  border-radius:0.2rem !important;
  //background: #4C5E6F !important;
  background: #3a4570 !important;
  opacity:0.7 !important;
  color: $white !important;
}


///* ================================= DEVICES Max 1000PX ================================== */


.sidebar {
  display:none;
}








