.sidebar{

  border: solid $black 1px;
  margin: $xl-size $s-size auto $s-size;
  padding: 0 0 $l-size $s-size;
  background: $white;
}

.sidebar__tags{

  margin-top: $m-size;
  margin-bottom: $s-size;
}