
html{
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body{
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: $m-fontSize;
  background: aliceblue;
  color:$darkGrey;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

///* ================================= DEVICES Max 1155PX ================================== */
@media (max-width: 1155px) {

  html{
    font-size: 80% !important;
}}

/* ================================= DEVICES Max 1000PX ================================== */
@media (max-width: 1000px) {

  html{
    font-size: 100% !important;
  }}