
html{
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-fontSize;
  background: #BCC2C9;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

