//colors
$black: black;
$white: white;
$darkBlue: #20364B;
$xldarkBlue: #08192A;
$bleu: #0096db;
$greyBorder: #c4c8d8;
$grey: #4C5E6F;
$offRed: #ff8888;

//box-shadow
$box-shadow: #e3e5ec;

//spacing
$xxs-size:0.2rem;
$xs-size: 0.5rem;
$s-size : 1rem;
$m-size : 1.5rem;
$l-size : 2rem;
$xl-size : 3rem;


//fontSize
$m-fontSize : 1.1rem;


